include README.md
include seaplane/example/*
include seaplane/example/charts/demo/*
include seaplane/example/charts/demo/templates/*
include seaplane/example/docker/seaplane-example/*
include seaplane/configuration/defaults.json
